@font-face {
    font-family: 'Fugue';
    src: url('fonts/fugue_regular-webfont.eot');
    src: url('fonts/fugue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fugue_regular-webfont.woff') format('woff'),
         url('fonts/fugue_regular-webfont.ttf') format('truetype'),
         url('fonts/fugue_regular-webfont.svg#fugueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
